@{
    ViewData["Title"] = "Dashboard";
}
@model List<Art>


<div class="container">
    <h2 class="text-center">All Art</h2>

    <form
        asp-controller="Art"
        asp-action="Dashboard"
        method="GET"
    >
        <div class="d-flex justify-content-center gap-3 mb-3">
            <input type="text" class="form-control w-50" name="search" placeholder="search..">
            <button class="text-primary bg-transparent border-0 p-0">search</button>
        </div>
    </form>

    <table class="d-flex flex-column ">
        <thead>
            <tr class="d-flex border">
                <th class="w-50 text-center">Name</th>
                <th class="w-50 text-center">Artist</th>
                <th class="w-50 text-center">Description</th>
                <th class="w-50 text-center">Price</th>
                <th class="w-50 text-center d-flex justify-content-center align-items-center gap-3">
                    <div>Total Likes</div>
                    <form
                        asp-controller="Art"
                        asp-action="Dashboard"
                        method="GET"
                    >
                        <input type="hidden" class="form-control w-50" name="totalLikes" value="true">
                        <button class="text-primary bg-transparent border-0 p-0">^</button>
                    </form>
                </th>
                <th class="w-50 text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Art a in Model)
            {
                <tr class="d-flex justify-content-center w-100 border">
                    <td class="w-50 text-center border d-flex justify-content-center align-items-center">
                        <a href="/art/@a.ArtId/view">@a.Name</a>
                    </td>
                    <td class="w-50 text-center border d-flex justify-content-center align-items-center">@a.Artist</td>
                    <td class="w-50 text-center border d-flex justify-content-center align-items-center">@a.Description</td>
                    <td class="w-50 text-center border d-flex justify-content-center align-items-center">$@a.Price</td>
                    <td class="w-50 text-center border d-flex justify-content-center align-items-center gap-3">
                        <div>@a.Followers.Count</div>
                    </td>
                    <td class="w-50 text-center border d-flex justify-content-center align-items-center" class="d-flex gap-2">
                        @if(a.UserId == Context.Session.GetInt32("UUID"))
                        {
                            <form
                                asp-controller="Art"
                                asp-action="DeleteArt"
                                asp-route-deletedArtId="@a.ArtId"
                                method="POST">
                                <button class="text-danger bg-transparent border-0 p-0">Delete</button>
                            </form>
                            <a href="/art/@a.ArtId/edit" class="text-warning text-decoration-none">Edit</a>
                        }
                        
                        @{ bool alreadyLiked = a.Followers.Any(likes => likes.UserId == Context.Session.GetInt32("UUID"));}
                        <form
                            asp-controller="Art"
                            asp-action="Like"
                            asp-route-artId="@a.ArtId"
                            method="POST"
                        >
                            <button class="text-primary bg-transparent border-0 p-0">
                                @if(alreadyLiked)
                                {
                                    <span>Unlike</span>
                                }
                                else {
                                    <span>Like</span>
                                }
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>